<main>
    <% categories.forEach( ({ id, nome, products })=> { %>
        <section class="produtos">
            <h2 class="category-title">
                <%= nome %>
            </h2>
            <div class="swiper" style="width: 100%;">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <% products.data.forEach( product => { %>
                        <div class="swiper-slide">
                            <%- include( './components/product', product ); -%>
                        </div>
                    <% }) %>
                </div>

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </section>
    <% }); %>
</main>


<script>
    const swiper = new Swiper('.swiper', {
        loop: true,
        slidesPerView: 5,
        spaceBetween: 10,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
