<main>
    <% categories.forEach( ({ id, nome, products }) => { %>
    <section class="produtos">
        <h2>
            <%= nome %>
        </h2>
        <div class="produtos--container">
            <% products.data.forEach( product => { %>
                <div class="produtos--card">
                    <figure class="produtos--descricao">
                        <img src="" alt="">
                        <figcaption>
                            <span></span>
                            <span></span>
                        </figcaption>
                    </figure>

                    <span><%= product.nome %></span>
                    <span><%= new Intl.NumberFormat( 'pt-br', {
                        style: 'currency',
                        currency: 'BRL'
                    }).format(product.preco) %></span>
                    <button>Comprar</button>
                </div>
            <% }) %>
        </div>
    </section>
    <% }) %>
</main>