
<main>
    <h2 style="margin: 20px;"><%= title %></h2>
    <span style="margin: 0 0 20px 20px;">
        <%= count %> produtos encontrados.
    </span>

    <section class="product-grid">
        <% data.forEach( (product) => { %>
            <%- include( './components/product', product ); -%>
        <% }); %>
    </section>

    <script src="/public/js/favoriteProduct.js"></script>

    <%- include( './components/pagination', { page, count, limit, buttons: 7, baseUrl } ); -%>
</main>
