
header.main-header {
    display: flex;
    align-items: center;

    background: #f13d4c;
    color: white;
    height: 60px;
    padding: 0 20px;
}

section.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


form.search-product-container {
    position: relative;
    display: flex;
    width: 350px;
    border-bottom: 1px solid white;
    padding: 6px 12px;
}

form.search-product-container:hover {
    cursor: pointer;
}

input.search-product {
    flex: 1;
    background: transparent;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 0;
}

ul.sugestion-products {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    
    background: white;
    color: black;
}

ul.sugestion-products > li {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: 1px solid white;
    font-size: 12px;
}

ul.sugestion-products > li > img {
    margin-right: 10px; 
}

ul.sugestion-products > li:hover {
    background: #efefef;
}

ul.sugestion-products > li > span {
    background: yellow;
}



ul.icons {
    display: flex;
    font-size: 20px;
}

ul.icons > li {
    cursor: pointer;
}

ul.icons > li + li {
    margin-left: 16px;
}



li.user {
    position: relative;
}

li.user:hover > div.dropdown {
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 200ms;
}

div.dropdown {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;

    color: black;
    font-size: 16px;

    opacity: 0;
    background: white;

    min-width: 300px;
    padding: 8px 16px;
}

span.welcome-user {
    font-size: 16px;
    padding: 4px 8px;
}