
input::placeholder {
    color: white;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

section.produtos {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 auto;
}

section.produtos + section.produtos {
    margin-top: 32px;
}

h2.category-title {
    padding: 8px 16px;
    margin-bottom: 16px;
}

div.produtos-container {
    display: flex;
    width: 100%;
    background: #e6eed6;
    color: #bbc5aa;

    overflow-x: scroll;
}

article.produtos-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 224px;
    height: 350px;
}

figure.produtos-descricao {
    width: 224px;
    height: 224px;
    background: #efefef; 
}

figure.produtos-descricao > img {
    width: 224px;
    height: 224px;
}

span.product-name {
    text-align: center;
    margin: 8px;
}

button.buy-product {
    background: #067BF9;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}



section.product-grid {
    display: grid;
    grid-template-columns: repeat( 5, auto );
    grid-gap: 10px;
}



ul.pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

li.page-item {
    background: #efefef;
    color: black;
    padding: 8px 8px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

li.page-item > a {
    color: black;
}

li.page-item.disabled {
    background: #efefef;
    color: black;
}

li.page-item:first-child,
li.page-item:last-child,
li.page-item.active {
    background: #067BF9;
    color: white;
}

li.page-item  + li.page-item {
    margin-left: 10px;
}

li.page-item > a {
    color: white;
}