
input::placeholder {
    color: white;
}

input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

article.produtos-card {
    position: relative;
    cursor: pointer;
}

section.produtos {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 auto;
}

section.produtos + section.produtos {
    margin-top: 32px;
}

div.favorite-product {
    position: absolute;
    top: 0px;
    right: 20px;

    font-size: 28px;
    color: #efefef;
    transition: color 200ms;
}


div.favorite-product:hover,
i.favorited {
    color: #e93d3d;
}

h2.category-title {
    padding: 8px 16px;
    margin-bottom: 16px;
}

div.produtos-container {
    display: flex;
    width: 100%;
    background: #e6eed6;
    color: #bbc5aa;

    overflow-x: scroll;
}

article.produtos-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 224px;
    height: 380px;
}

figure.produtos-descricao {
    width: 224px;
    height: 224px;
    background: #efefef; 
}

figure.produtos-descricao > img {
    width: 224px;
    height: 224px;
}

span.product-name {
    text-align: center;
    margin: 8px;
}

button.buy-product {
    background: #067BF9;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}



section.product-grid {
    display: grid;
    grid-template-columns: repeat( 5, auto );

    grid-column-gap: 10px;
    grid-row-gap: 40px;
    margin-top: 40px;
}


form.form {
    max-width: 600px;
    background: white;
    margin: 80px auto;
    padding: 40px 20px;
}

div.input-group {
    display: flex;
    flex-direction: column;
}

div.input-group + div.input-group {
    margin-top: 16px;
}
