<header>
    <h1>Supermercado Online</h1>
    <div>
      <input type="text" placeholder="Pesquisar produto">
      <i class="fas fa-search"></i>
    </div>
    <nav>
      <ul>
        <li>
          <i class="fas fa-user"></i>
        </li>
        <li>
          <i class="fas fa-heart"></i>
        </li>
        <li>
          <i class="fas fa-cart-plus"></i>
        </li>
        <li>
          <i class="fas fa-bars"></i>
        </li>
      </ul>
    </nav>
  </header>