<header class="main-header">
    <section class="header-container">
        <h1>Supermercado Online</h1>

        <form id="search-product-name" class="search-product-container">
            <input type="text" id="input-product-name" class="search-product" placeholder="Pesquisar produto">
            <i class="fas fa-search"></i>
        </form>

        <nav>
            <ul class="icons">
                <li>
                    <i class="fas fa-user"></i>
                </li>
                <li>
                    <i class="fas fa-heart"></i>
                </li>
                <li>
                    <i class="fas fa-cart-plus"></i>
                </li>
                <li>
                    <i class="fas fa-bars"></i>
                </li>
            </ul>
        </nav>
    </section>
</header>