
<header class="main-header">
    <section class="header-container">
        <h1>
            <a href="/">
                Supermercado Online
            </a>
        </h1>
        
        <% if(header === true) { %> 
            <form method="GET" action="/products/name" id="search-product-name" class="search-product-container">
                <input 
                    type="text" autocomplete="off" name="name" id="input-product-name" 
                    class="search-product" placeholder="Pesquisar produto" 
                />
                <i class="fas fa-search"></i>

                <ul class="sugestion-products">
                </ul>
            </form>

            <nav>
                <ul class="icons">
                    <li class="user">
                        <i class="fas fa-user"></i>
                        
                        <% if( auth === true ) { %>
                            <span class="welcome-user">Olá, <%= user.nome %> </span>
                        <% } %>

                        <div class="dropdown">
                            <% if( auth ) { %> 
                                <a href="/account">Minha conta.</a>
                                <a href="/orders">Meus pedidos.</a>
                                <button>Sair</button>
                            <% } else { %>
                                <a href="/signin">Entrar na conta.</a>
                                <a href="/register">Criar conta.</a>
                            <% } %>    
                        </div>
                    </li>
                    <li>
                        <i class="fas fa-heart"></i>
                    </li>
                    <li>
                        <i class="fas fa-cart-plus"></i>
                    </li>
                    <li>
                        <i class="fas fa-bars"></i>
                    </li>
                </ul>
            </nav>
        <% } %> 
    </section>
</header>
